/* Главная */

.main{
    background: url(../img/background.png);
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.logo-img{
    padding: 30px 0;
}

.number-telephone{
    display: inline-block;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    font-family: "HelveticaNeueCyr";
    color: rgb(94, 93, 93);
    line-height: 1.2;
    text-align: right;
}

.number-telephone a {
    color: rgb(94, 93, 93);
}

.number-telephone span{
    padding-right: 15px;
}

.nav-custom{
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    background: rgba(255,255,255,0) !important;
    border: 0 !important;
}

.collapse .navbar-nav{
    padding-top: 2%;
}

.navbar-nav li a{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.333;
}

.navbar-nav li{
    margin-right: 10px;
    margin-left: 10px;
}

.items-menu{
    padding-left: 0px;
}

.nav-custom .container-fluid{
    padding: 0;
}

.navbar-brand{
    display:none;
}

.custom-caption{
    display: block;
    top: 210px !important;
    font-size: 30px;
    font-family: "BebasNeueRegular";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 2.06796723942399,0,0,2.06796723942399,0,0);
    -webkit-transform: matrix( 2.06796723942399,0,0,2.06796723942399,0,0);
    -ms-transform: matrix( 2.06796723942399,0,0,2.06796723942399,0,0);
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.image-caption{
    margin-top: 30px;
    margin-left: -330px;
    height: 10%;
    width: 8%;
}

.text-sub-caption{
    font-size: 9px;
    font-family: "HelveticaNeueCyr";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin-left: 185px;
    width: 100px;
}

.content{
    margin-top: -1px;
    background: #315b8d;
}

.figure{
    margin-top: 20px;
    height: 2px;
    background: white;
}

.production .figure{
    background: black;
}

.production .text-figure{
    color: black;
    font-size: 27px;
}

.text-figure{
    margin-top: 5px;
    font-size: 30px;
    font-family: "HelveticaNeueCyr";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}

.text-content{
    margin-top: 15px;
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
}


.details{
    height: 60px;
    width: 260px;
    background: white;
    margin: 20px auto;
    position: relative;
}

.link-details{
    left: 70px;
    top: 15px;
    position: absolute;
    font-size: 24px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.big-news{
    border: 20px solid #13447e;
    width: 100%;
}

.production .container .row .col-md-6 {
    text-align: center;
}

.production .container .row .col-md-6 h3 {
    font-size: 24px;
    font-family: "HelveticaNeueCyr";
    color: rgb(76, 76, 76);
    line-height: 1.2;
}

.row-small{
    text-align: center;
    margin-top: 10px;
}

.small-news{
    position: relative;
    max-width: 231px;
}

.small-link{
    background: rgba(14,20,22,0.4);
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
}

.small-link a{
    font-size: 12px;
    font-family: "HelveticaNeueCyr";
    color: rgb(206, 206, 206);
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
}

p.text-news{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 25px;
    font-size: 14px;
    font-family: "HelveticaNeueCyr";
    color: rgb(76, 76, 76);
    line-height: 1.2;
    text-align: left;
}

.link-news{
    text-align: left;
    font-size: 14px;
    font-family: "HelveticaNeueCyr";
    color: rgb(19, 68, 126);
    text-decoration: underline;
    text-transform: uppercase;
    margin-left: 31px;
}

.line-end{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 2px !important;
    background: black;
}

.devise{
    background: #cecece;
    min-height: 50px;
    text-align: center;
}

.devise img{
    margin-top: 10px;
}

.devise p{
    font-size: 24px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    padding-top: 5px;
}

.form{
    background: url(../img/form.png);
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 126px;
    background-size: cover;
    position: relative;
}

.form-text{
    margin-left: 20px;
    margin-top: 20px;
}

.form-text h2{
    font-size: 24px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.form-text p{
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
}

.form-control-custom{
    margin-left: 139px;
    margin-top: 29px;
    margin-bottom: 20px;
}

input[type="text"]{
    border: 1px solid black;
    background: transparent;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 3em;
    font-size: 18px;
    padding-left: 20px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

input[type="text"]::-webkit-input-placeholder{
    color:black;
}

input[type="text"]::-moz-placeholder{
    color:black;
}
input[type="text"]:-moz-placeholder {
    color:black;
}

input[type="text"]:-ms-input-placeholder{
    color:black;
}

input[type="submit"]{
    margin-left: 280px;
    background: black;
    color: white;
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    line-height: 1.2;
    border: 0;
    margin-bottom: 20px;
    height: 60px;
    width: 180px
}

.footer-page{
    background: #222222;
}

.logo-footer{
    margin: 15px 0;
    width: 100%;
}

.too{
    font-size: 30px;
    font-family: "HelveticaNeueCyr";
    color: rgb(254, 254, 254);
    line-height: 1.2;
    text-align: center;
}

.plus{
    font-size: 24px;
    font-family: "HelveticaNeueCyr";
    color: rgb(254, 254, 254);
    line-height: 1.2;
    text-align: center;
}

.contacts-info{
    font-size: 20px;
    font-family: "HelveticaNeueCyr";
    color: rgb(254, 254, 254);
    line-height: 1.2;
    text-align: right;
    padding: 10px 0;
}
.contacts-info a {
    color: rgb(254, 254, 254);
}

.carousel-item{
    width: 100%;
}

/* СТРАНИЦА КОНТАКТЫ*/

.contacts-info-form{
    background: url(../img/background.png);
}

.contacts-logo{
    text-align: center;
    font-size: 30px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-top: 10px;
}

.contact-text{
    font-size: 20px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    margin-left: 15px;
}

.contact-text a {
    color: rgb(0, 0, 0);
}

/* СТРАНИЦА О НАС*/

.logo-img-about{
    width: 100%;
    padding: 0;
}

.about{
    background: url(../img/background.png);
}

.about>.container>.row>.col-md-12{
    position: relative;
}

.blue-triangle{
    position: absolute;
    top: 0;
    right: 14px;
    height: 100%;
}

.logo-devise{
    font-size: 36px;
    font-family: "HelveticaNeueCyr";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    width: 184px;
    text-align: center;
    position: absolute;
    right: 148px;
    top: 20px;
}

.about-figure>.figure{
    background: black;
}

.about-figure>.text-figure{
    color: black;
}

.col-logo{
    margin-top: 20px;
}

.row-about{
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-description{
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
}

/* СТРАНИЦА НАШИ ПРОДУКТЫ */

.fanera-devise{
    font-size: 36px;
    font-family: "HelveticaNeueCyr";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    right: 100px;
    top: 20px;
    width: 447px;
}

.item-production{
    max-width: 500px;
    margin-bottom: 20px;
}

.item-production>img{
    width: 100%;
}

.item-link{
    width: 100%;
    background: #13447e;
    height: 30px;
    text-align: center;
}

.item-link>a{
    font-size: 24px;
    font-family: "HelveticaNeueCyr";
    color: rgb(254, 254, 254);
    text-decoration: underline;
    line-height: 1.2;
}

/*SINGLE PAGE */

.row-production{
    padding-top: 20px;
}

.breadcrumb-background{
    background: #ffffff;
}

.breadcrumb{
    float: right;
    margin: 0 !important;
    background: #ffffff;
}

.production-content{
    margin-top: 20px;
}

.img-production{
    width: 100%;
}

.row-product-text{
    padding: 20px 0;
}

.description-product>p,.character{
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    margin: 15px 0;
}

td{
    border: 1px solid black !important;
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
}

/* ОШИБКА 404 */

.error-404{
    margin-top: 150px;
}

.error-404>.row>.col-md-12{
    text-align: center;
    font-size: 18px;
    font-family: "HelveticaNeueCyr";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
}

.error-message{
    font-size: 35px !important;
}

.row-error{
    margin-bottom: 130px;
}

@media (max-width: 768px){
    .navbar-brand{
        display:block;
    }
    .number-telephone span {
        padding-right: 30px;
    }
    .number-telephone {
        padding-left: 0;
    }
    .form-control-custom{
        margin-left: 35px;
    }
    input[type="submit"]{
        margin-left: 80px;
    }
    .small-news{
        margin: 10px auto;
    }
    .row-small .col-md-3{
        text-align: center;
    }
    .contacts-info{
        text-align: center;
    }
    .fanera-devise {
        font-size: 15px;
        font-family: "HelveticaNeueCyr";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
        position: absolute;
        right: 13px;
        top: 20px;
        width: 194px;
    }
}